<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Credentials</title>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/jtitra/field-workshops/main/assets/misc/font-awesome.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/jtitra/field-workshops/main/assets/misc/credentials-tab.css">
</head>
<body>
    <div class="credentials-container">
        {% for credential in credentials %}
        <div class="credentials">
            <img src="{{ credential.logo_url }}" alt="{{ credential.name }}">
            <h2>{{ credential.name }} Credentials</h2>
            {% for key, value in credential.auth.items() %}
            <p><strong>{{ key }}:</strong> {{ value }} <button class="copy-button" onclick="copyToClipboard('{{ value }}')"><i class="fas fa-copy"></i> Copy</button></p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(function() {
                // Invert colors briefly to show feedback
                const buttons = document.querySelectorAll('.copy-button');
                buttons.forEach(button => {
                    if (button.onclick.toString().includes(text)) {
                        button.classList.add('active');
                        setTimeout(() => {
                            button.classList.remove('active');
                        }, 300);
                    }
                });
            }, function(err) {
                console.error('Failed to copy text: ', err);
            });
        }
    </script>
</body>
</html>